@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    /* font-family: Arial, sans-serif; */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: #DBE4EE;
    transition: background-color 0.3s, color 0.3s;
}

.dark-theme {
    background-color: #333;
    color: #f0f0f0;
}

.card {
    max-width: 65%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background: #81A4CD;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 10px 10px 30px 0px #3E7CB1;
}

.dark-theme .card{
    box-shadow: 10px 10px 30px 0px #d5d5d52b;
}

.dark-theme .card {
    background-color: #444;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap:5px;
}

.search input {
    flex: 1;
    padding: 17px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    transition: border 0.3s;
}

.search input:focus {
    border-color: #007bff;
    outline: none;
}

.search button {
    background: #054A91E5;
    color: white;
    border: none;
    padding: 7px 9px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search button:hover {
    background: #033b74e5;
}

button .icon{
    width: 30px;
}

#theme-toggle{
    font-size: 25px;
}

.display-weather{
    margin: 1rem 0;
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;
}

.weather {
    text-align: center;
    margin-bottom: 20px;
}

.weather-icon {
    width: 160px;
}

.temp {
    font-size: 85px;
    color: #fff;
    font-weight: 400;
    margin: -13px 0;
}

.city {
    font-size: 30px;
    margin: 0px 0;
    text-align: left;
    color: #054A91;
}

.dark-theme .city {
    color: #fff;
}

.details {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.col {
    text-align: center;
}

.col h2{
    font-size: 30px;
    margin: 0px 0;
    text-align: left;
    font-weight: 500;
    color: #054A91;
}

.dark-theme .col h2{
    color: #fff;
}

.wind, .humidity{
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    margin: 10px 0 0;
}

.col img {
    width: 60px;
}

.forecast {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.forecast-item {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    transition: background-color 0.3s;
}

.dark-theme  .forecast{
    color: black;
}

.forecast-item h3{
    font-size: 1rem;
}

.forecast-item p{
    font-size: 0.8rem;
}

/* Responsiveness */
@media (max-width: 600px) {
    .search {
        flex-direction: column;
    }

    .search input {
        margin-bottom: 10px;
    }

    .details {
        flex-direction: column;
    }

    .col {
        margin-bottom: 10px;
    }
}